a.edit-this-page {
  color: #aaa;
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position-y: 2px;
  display: block;
  margin-top: 2rem;
  font-size: 12px;
}