/* Theme Colors */

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #6a9fb5;
$magenta: #aa759f;
$brown: #8f5536;
$white: #ffffff;

/* Selected Theme */

$theme_color: $red;

/* Breakpoints */

$small-bp: 640px;
$medium-bp: 960px;
$large-bp: 1180px;